name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-latest, macos-latest, macos-11, windows-2022]

    name: Test coverage-badge-go
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          workdir: test
          go_version: "1.14.4"

      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'test/go.mod'
          cache: false

      - name: Run Test
        run:
          make test
        working-directory: test

      - name: Run coverage-badge-go
        uses: ./
        with:
          filename: test/coverage.out
          link: ${{ github.server_url }}/${{ github.repository }}/actions/workflows/test.yml

      - name: Verify Changed files
        uses: tj-actions/verify-changed-files@v13.1
        id: verify-changed-files
        with:
          files: README.md

      - name: README.md changed
        if: steps.verify-changed-files.outputs.files_changed == 'true' && github.event_name != 'pull_request' && runner.os == 'Linux'
        run: |
          echo "README.md has uncommited changes"
          exit 1

      - name: Create Pull Request
        if: failure() && github.event_name != 'pull_request' && runner.os == 'Linux'
        uses: peter-evans/create-pull-request@v5
        with:
          base: "main"
          title: "chore: updated coverage badge"
          branch: "chore/update-coverage"
          commit-message: "chore: updated coverage badge"
          body: "updated coverage badge"
          token: ${{ secrets.PAT_TOKEN }}
